@model IEnumerable<ProntuarioEletronico.Domain.DTO.PatientDTO>

<p>
    <a class="btn btn-primary" asp-action="Create">New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataAtualizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medicalPlanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.profession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.complement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.age)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.sex)
                     </td>
                <td>
                    @Html.DisplayFor(modelItem => item.maritalStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cpf)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.rg)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataAtualizacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medicalPlanId)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.plan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.profession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cep)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.complement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.image)
                </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                        <a class="btn btn-danger" href="#" onclick="deletePatient(@item.id)">Delete</a>
                    </td>
                </tr>
        }
    </tbody>

@section Scripts {
            <script>
                    const deletePatient = (idParam) => {
                    msgModalMessage(`Deseja excluir o paciente ${idParam}?`, () => {
                    $.ajax({
                        url: `@Url.Action("Delete")`,
                        method: 'POST',
                        data: {
                            id: idParam
                        },
                        success: (resp) => {
                            var msg = `O Registro ${idParam} foi excluído.`;
                            if (!(resp.code == '200')) {
                                msg = resp.status;
                            }
                            liveToastMessage(msg, 'Patient');
                            setTimeout(() => { window.location.reload(); }, 4000);
                        }
                    });
                    closeMsgModalMessage();
                });
            }
            </script>
}

