@using ProntuarioEletronico.Domain.Enums;
@model ProntuarioEletronico.Domain.DTO.DoctorDTO

<div class="text-light">
    <h1>Criar</h1>

    <h4>Adicionar um novo médico ao prontupario</h4>
    <hr />
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="text-light">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Nome</label>
                <input asp-for="name" class="form-control" required/>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label">Idade</label>
                <input asp-for="age" class="form-control" required/>
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">E-mail</label>
                <input asp-for="email" class="form-control" type="email" required/>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label">Telefone / Celular</label>
                <input asp-for="phone" class="form-control" required/>
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cpf" class="control-label">CPF</label>
                <input asp-for="cpf" class="form-control" required/>
                <span asp-validation-for="cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rg" class="control-label">RG</label>
                <input asp-for="rg" class="form-control" required/>
                <span asp-validation-for="rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="crm" class="control-label">CRM</label>
                <input asp-for="crm" class="form-control" required/>
                <span asp-validation-for="crm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="especialidade" class="control-label">Especialidade</label>
                <input asp-for="especialidade" class="form-control" required/>
                <span asp-validation-for="especialidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">Descrição</label>
                <textarea asp-for="description" class="form-control" required></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="sex" class="control-label">Sexo</label>
                <select asp-for="sex" class="form-control" required>
                    <option value="">Selecione</option>
                    <option value="@SexEnum.Masculine">Masculino</option>
                    <option value="@SexEnum.Feminine">Feminino</option>
                    <option value="@SexEnum.Others">Outros</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="maritalStatus" class="control-label">Estado Civil</label>
                <select asp-for="maritalStatus" class="form-control" required>
                    <option value="">Selecione</option>
                    <option value="@MaritalStatusEnum.Married">Casado(a)</option>
                    <option value="@MaritalStatusEnum.Single">Solteiro(a)</option>
                    <option value="@MaritalStatusEnum.Widower">Viúvo(a)</option>
                    <option value="@MaritalStatusEnum.Divorced">Divorciado(a)</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="dataCadastro" class="control-label">⠀⠀⠀</label>
                <input asp-for="dataCadastro" type="hidden" value="@DateTime.Now" class="form-control" />
                <span asp-validation-for="dataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btnDB"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn voltarLista">Voltar a lista de médicos</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }